<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/huella_carbono?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto de Hibernate para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de entidades -->
        <mapping class="org.example.huelladecarbono.model.Actividad"/>
        <mapping class="org.example.huelladecarbono.model.Categoria"/>
        <mapping class="org.example.huelladecarbono.model.Habito"/>
        <mapping class="org.example.huelladecarbono.model.Huella"/>
        <mapping class="org.example.huelladecarbono.model.Recomendacion"/>
        <mapping class="org.example.huelladecarbono.model.Usuario"/>

    </session-factory>
</hibernate-configuration>